<! DOCTYPE html>
<html>
<head>
    <title> Student IT Services - Report</title>
</head>
<body>

    {% extends "itreporting/base.html" %}
    
    {% block content %}

    <h1>IT Issue Reported</h1>
    <article class="media content-section">
      <img class="rounded-circle article-img" src="{{ issue.author.profile.image.url}}"/>
        <div class="media-body">
          <div class="article-metadata">
            <h2 class="article-title">{{ object.type }} Issue in Room {{object.room}}</h2>
            <small class="text-muted">{{ object.date}}</small>
          </div>
          

          <h3><a class="article-title" href="{% url 'issue-detail' issue.id %}">{{ object.type }} Issue in Room {{object.room}}</a></h3>

          <p class="article-content">{{ object.details }}</p>
      
        </div>
    </article>
    <hr>


    {% endblock content %}
</body>
</html>